.project {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    margin: 10px 0px;

    background: #2a2a2a;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}

.project-text-primary {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.project-text-secondary {
    font-weight: bold;
    margin-right: 5px;
}

.project__title {
    padding: 10px;
    background: #494949;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.project__info {
    display: flex;
    padding: 10px;
    color: #cccccc;
}

.project__info-description {
    flex: 1;
}

.project__info-info {
    flex: 1;
}

.project__info-members {
    display: flex;
    flex-direction: row;
}

.project__links {
    display: flex;
    flex-direction: row;
    background: #494949;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.project__links a {
    color: white;
    text-decoration: none;
}

.project__links-repo-btn, 
.project__links-page-btn,
.project__links-info-btn {
    font-size: 0.75rem;
    font-weight: bold;
    height: 100%;
    text-transform: uppercase;
    color: white;
    background: #494949;
    border: none;
    padding: 10px;
}

.fa-github, .fa-file-text-o, .fa-external-link {
    color: white;
    margin: 0 5px 0 0;
}

.project__links-repo-btn:hover, 
.project__links-page-btn:hover,
.project__links-info-btn:hover {
    cursor: pointer;
    background: #7c7c7c;
    transition: 200ms;
}

@media (max-width: 768px) {
    .project__info {
        flex-direction: column;
    }

    .project__info-info {
        margin-top: 20px;
    }
}

@media (min-width: 769px) {
    .project__info {
        flex-direction: row;
    }
}